.container {
  margin-top: 60px;
}

.btn {
  font-size: 16px;
  padding: 4px 6px;
}
.btn:focus {
  outline: none;
}

#box {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #9d9d9d;
  padding: 2px 2px;
  margin: 8px 4px;
  background-color: white;
  width: 227px;
}

.temp {
  display: inline-block;
  font-weight: 700;
  font-size: 23px;
  margin-top: 17px;
  margin-left: 10px;
  /*padding: 0px 15px;*/
  vertical-align: middle;
}
#vote-up {
  float: right;
  border-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  border-left-width: 0.25px;
  color: darkorange;
  background-color: white;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#vote-down {
  float: right;
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  border-right-width: 0.25px;
  color: dodgerblue;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress {
  height: 10px;
  margin-bottom: 5px;
}

.productImage {
  width: 100%;
  height: 227px;
  max-height: 227px;
  min-height: 227px;
  border-style: solid;
  border-bottom: 0.5px;
  margin-bottom: 5px;
}

.title {
  margin-left   : 5px;
  font-size     : 20px;
  font-weight   : bold;
  height        : 40px;
  overflow      : auto;
  /*white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}
.description {
  margin-left   : 5px;
  font-size     : 14px;
  font-weight   : normal;
  font-family   : 'Roboto', sans-serif;
  height        : 60px;
  overflow      : auto;
  /*white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

a:hover{
  color : black;
}

#ownerInfo {
  width             : 100%;
  padding           : 7px 7px;
  background-color  : #f5f5f5;
  font-size         : 18px;
}

#owner {
  font-size : 22px;
}

#factor {
  color           :#8f949b;
  font-size       :1em;
  padding-bottom  :14px;
  padding-top     :22px;
  margin-left     :5px;
}

#trash {
  text-align: center;
}

#trash:hover {
  color: tomato;
}

#trash:active {
  color: firebrick;
}


@media (min-width: 768px) {
  .col-sm-first {
    width: 20%;
    float: left;
  }
  .col-sm-last {
    width: 20%;
    float: left;
  }
  .col-sm-2nd {
    width: 20%;
    float: left;
  }
}
