<div class="container" style="margin-top:60px">
    <h3 style="margin-left: 20px;">Add product</h3>
    <hr>
    <form [formGroup]="productForm" (ngSubmit)="addProduct($event)" class="form-horizontal">
        <!-- Name -->
        <div class="form-group row">
          <label class="col-md-1 col-form-label">
            Name
          </label>
          <label class="col-md-1 col-form-label" style="color:tomato; font-weight: lighter; display: block;"
                 [hidden]="productForm.valid">Required</label>
          <div class="col-md-10" style="display:block;">
            <input id="name" formControlName="name" class=".form-control" placeholder="Name of a product" type="text">
          </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
          <label class="col-md-1 col-form-label">
            Description
          </label>
          <label class="col-md-1 col-form-label" style="display: block;">
            <label style="color:tomato; font-weight: lighter; display: block;" [hidden]="!productForm.valid">Required</label>
          </label>
          <div class="col-md-10" style="display:block;">
            <textarea id="description" formControlName="description" class=".form-control"
                      placeholder="Description of a product" rows="1"></textarea>
          </div>
        </div>

        <!-- Price -->
        <div class="form-group row">
          <label class="col-md-1 col-form-label">Price</label>
          <label class="col-md-1 col-form-label" style="display: block;">
              <label style="color:tomato; font-weight: lighter; display: block;" [hidden]="productForm.valid">Required</label>
          </label>
          <div class="col-md-10">
            <input id="price" formControlName="price" class=".form-control" type="number" placeholder="0">
          </div>
        </div>

        <!-- CatId-->
        <!--<div class="form-group row">
          <div class="col-md-2 col-form-label">
            <label for="catId">Category</label>
          </div>
          <div class="col-md-10">
            <select type="number" id="catId" formControlName="catId" class=".form-control">
              <option>1</option>
              <option>2</option>
              <option>AliExpress</option>
              <option>Nike</option>
              <option>McDonalds</option>
            </select>
          </div>
        </div>-->
        <div class="form-group row">
          <div class="col-md-2 col-form-label">
            <label for="catId">Category</label>
          </div>
          <div class="col-md-10">
            <input id="catId" formControlName="catId" class=".form-control" type="number" placeholder="0">
          </div>
        </div>

        <!-- id -->
        <div class="form-group row">
          <label class="col-md-1 col-form-label">id</label>
          <label class="col-md-1 col-form-label" style="display: block;">
            <label style="color:tomato; font-weight: lighter; display: block;" [hidden]="productForm.valid">Required</label>
          </label>
          <div class="col-md-10">
            <input id="id" formControlName="id" class=".form-control" type="number" placeholder="0">
          </div>
        </div>

        <!-- Add -->
        <button type="submit" style="padding: 5px 40px;" class="btn btn-primary" [disabled]="!productForm.valid">Add</button>
    </form>
</div>
