<div class="container" xmlns="http://www.w3.org/1999/html">
  <!--<div class="row" *ngIf="getProductsNumber() == 0">
    <div class="alert alert-info"><strong>There is no products yet.</strong> Add one!</div>
  </div>-->

  <div class="row" style="margin-left: -20px; margin-right: -20px">
    <div class="col-xs-6 col-sm-3 col-md-2" id="box" *ngFor="let prod of products, let i = index">

      <!-- Category + title -->
      <div *ngFor="let cat of categories">
        <strong id="factor" *ngIf="cat.id==prod.catId">{{cat.name}}</strong>
      </div>

      <div class="title" style="overflow: auto;"><strong style="color:orange; font-size:20px;">{{prod.price}}$</strong>
        {{prod.name}}<br>
      </div>
      <div class="description" style="font-size: 14px; font-weight: normal; ">
          {{prod.description}}
      </div>

      <!-- Button: Dodaj do koszyka -->
      <div class="row" style="margin: 0px 0px; padding: 0px 0px;">
        <div class="col-xs-12" style="padding: 7px 7px;">
          <button class="btn btn-warning active" (click)="addPurchase(prod)" style="float:right; font-size: 14px; font-weight: bold;">
            Dodaj do koszyka <span class="glyphicon glyphicon-shopping-cart"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>









<!--
<li class="li" *ngFor="let product of products">
  <div *ngIf="product.description == 'promocja'">PROMO!</div>
  {{ product.id }}: {{ product.name}} - {{ product.description }} - {{ product.price }} - {{ product.catId }}
</li>

<form [formGroup]="productForm" (ngSubmit)="addProduct($event)">
  <div class="form-group">
    <label for="name">Tytuł</label>
    <input id="name" formControlName="tytul" type="text" placeholder="Product name" class=".form-control">
  </div>
  <div class="form-group">
    <label for="description">Opis</label>
    <textarea id="description" formControlName="opis" placeholder="Product description" class=".form-control"></textarea>
  </div>
  <button type="submit">Add</button>
</form>

<select [(ngModel)]="Product">
  <ng-container *ngFor="let p of products">
      <option [ngValue]="p">{{p.tytul}} ({{p.opis}})</option>
  </ng-container>
</select>
-->
