.form-horizontal {
  background-color: white;
  margin: 20px 20px;
  padding: 20px 20px;
  border-style: outset;
  border-width: medium;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left-style: solid;
  border-left-width: thick;
  border-left-color: lightcyan;
}

button{
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}
