<footer>
  <p>Wojciech Nowak © Copyright 2017 <a href="mailto:wojcieszek.nowak@student.uj.edu.pl"> wojcieszek.nowak@student.uj.edu.pl </a>.
  This Webpage has been created at E-business class on Jagiellonian University.</p>
</footer>
