<div class="container">
  <h3>
    Login with:
  </h3>
  <br/>
  <a id="google" href="http://localhost:9000/authenticate/google">
    <span class="fa fa-google-plus-square"></span>
  </a>
  <a id="facebook" href="http://localhost:9000/authenticate/facebook">
    <span class="fa fa-facebook-square"></span>
  </a>
  <br/>
  <br/>
</div>
