.container {
  text-align: center;
  margin-top: 60px;
}

a,a:focus, a:visited{
  border:none;
  outline:none;
  color:inherit;
}

a:hover {
  filter: brightness(50%);
}

img {
  width: 250px;
  height: 50px;
}

.fa-facebook-square { /* round facebook icon*/
  font-size: 100px;
  color: #4060A5;
}

.fa-google-plus-square {
  font-size: 100px;
  color: #e64522;
}
