<nav class="navbar navbar-inverse navbar-fixed-top hidden-xs hidden-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <span class="glyphicon glyphicon-piggy-bank"></span> BeetrootStore
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li *ngFor="let cat of categories, let i = index"><a href="#">{{cat.name}}</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping cart</a>
        <ul class="dropdown-menu">
          <li *ngFor="let pur of purchases, let i = index"><a href="#">{{pur.idprod}}</a></li>
        </ul>
      </li>
      <li><a href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href=""><span class="glyphicon glyphicon-log-out" (click)="logout()"></span> Log out</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg hidden-xl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <span class="glyphicon glyphicon-piggy-bank"></span> BeetrootStore
      </a>
      <button type="button" class="navbar-toggle navbar-left collapsed"
              data-toggle="collapse"
              data-target="#myNavBar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavBar">
      <ul class="nav navbar-nav">
          <li data-toggle="collapse" data-target=".navbar-collapse">
            <a routerLink="/products" routerLinkActive="active" style="background-color: #111111;">Products</a>
          </li>
          <li data-toggle="collapse" data-target=".navbar-collapse" *ngFor="let cat of categories, let i = index">
            <a href="#">{{cat.name}}</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" data-toggle="collapse" data-target=".navbar-collapse">>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping cart</a>
          <ul class="dropdown-menu">
            <li *ngFor="let pur of purchases, let i = index" style="background-color: darkcyan"><a href="#">{{pur.idprod}}</a></li>
          </ul>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse"><a href="">
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse"><a (click)="logout()">
          <span class="glyphicon glyphicon-log-out"></span> Log out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
